{% extends "base.html" %}

{% block title %}History{% endblock %}

{% block style %}
{{ super() }}
table {
border-spacing: 5px 5px;
width="80%";
font-size: 30px;
}
td, th {
text-align: left;
border-bottom: 1px solid #fc0;
padding: 6px;
}
.download_btn {
background: #fc0;
color: #333;
font-size: 25px;
border-radius: 30px;
height: 60px;
width: 400px;
font: aerial
}
#footer {
position: fixed; /* Фиксированное положение */
padding: 10px; /* Поля вокруг текста */
width: 100%; /* Ширина слоя */
left: 0; bottom: 0; /* Левый нижний угол */
}
{% endblock %}

{% block content %}
<p align="center"><font size="40px">Search history</font></p>
<br>
<div style="height:350px; overflow-y: scroll;">
    <table align="center" width="80%">
        <thead>
            <tr>
                <th width="30%">Name</th>
                <th width="15%">Positive percent</th>
                <th width="15%">Positive amount</th>
                <th width="20%">Search date</th>
            </tr>
        </thead>
        <tbody>
            {% for movie in movies %}
            <tr>
                <td width="30%">{{ movie.title }}</td>
                <td width="15%">{{ movie.positive_percent }}%</td>
                <td width="15%">{{ movie.amount_positive_reviews }}</td>
                <td width="20%">{{ movie.search_date.date() }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div id="footer">
    <p align="center">
        <button class="download_btn"><a href="static/download_file/history.pdf" download>Download</a></button>
    </p>
</div>
{% endblock %}
